[flake8]
max-line-length = 100
extend-ignore =
    E501,  
    F541,  
    F841,  
    E741,  
    E722,  
    F403,  
    F405,  
    F821,  
    W293,
    F811,
    W291
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    backend/**/migrations/*
per-file-ignores =
    backend/*/settings/*.py:E501
